<h3>Add an attender</h3>

<form action="/attenders" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Role: <input type="text" name="role"></p>
  <p>Verify if attender has RSVPd: <input type="checkbox" name="rsvp" value="true"></p>
  <input type="submit" class="btn btn-success" value="Add Attender">
</form>