<h3>Create Event</h3>

<form action="/event" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Location: <input type="text" name="location"></p>
  <input type="date" name="date">
  <input type="submit" value="Create event" class="btn btn-success">
</form>