<br />
<br />
<div class="text-center">
    <h3 class="white-text">
    <i class="fas fa-user white-text"></i><font color="dodgerblue"> Create Event:</font></h3>
    <hr class="hr-light">
</div>
<center>

<form action="/event" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Location: <input type="text" name="location"></p>
  <input type="date" name="date">
  <input type="submit" value="Create event" class="btn btn-indigo">
  <hr class="hr-light">
</form>

</center>
</div>
</body>