
<div class="text-center">
<h3 class="white-text">
<i class="fas fa-user white-text"></i><font color="dodgerblue"> Edit contractor:</font></h3>
<hr class="hr-light">
</div>
<center>

<form action="/contractors/<%=@contractor.id%>" method="POST">
  <p>Name: <input type="text" name="name" value="<%=@contractor.name%>"></p>
  <p>Title: <input type="text" name="title" value="<%=@contractor.title%>"></p>
  <p>Cost: <input type="text" name="cost" value="<%=@contractor.cost%>"></p>
  <input type="submit" class="btn btn-warning" value="Edit contractor">
  <hr class="hr-light">
</form>

</center>
</div>
</body>