<div class="text-center">
    <h3 class="white-text">
    <i class="fas fa-user white-text"></i><font color="dodgerblue"> Add contractor:</font></h3>
    <hr class="hr-light">
</div>
<center>

<form action="/contractors" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Title: <input type="text" name="title"></p>
  <p>Cost: <input type="text" name="cost" value="0"></p>
  <input type="submit" class="btn btn-default" value="Add Contractor">
  <hr class="hr-light">
</form>

</center>
</div>
</body>