<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/main.css">

</head>
<body>
<center>

</div>
<h1>The Event Organizer</h1>

<br />

<h3>Welcome to The Event Organizer app. The Event Organizer is a simple web app that lets you keep track of all the attenders and contractors of events you want to organize in your life.</h3>
</center>

<br />
<br />

<center>
<a href="/signup" class="btn btn-lg btn-primary">Sign Up</a>
<a href="/login" class="btn btn-lg btn-primary">Log In</a>
</center>

<br />
<br />

<center>
<footer class="footer">
&copy; 2019, all right reserved. Joecleverman
</footer>
</center>

</body>
</html>

