<!DOCTYPE html>
<html>
<body class="venom">

<center>
<br />
<h1 style="color:dodgerblue;"><strong>The Event Organizer</strong></h1>
<br />
</center>

<center>
<br />
<h3 style="color:black;">Welcome to The Event Organizer app. The Event Organizer is a simple web app that lets you keep track of all the attenders and contractors of events you want to plan in your life.</h3>

</center>
<br />
<br />
<br />
<center>
<a href="/signup" class="btn btn-lg btn-primary">Sign Up</a>
</center>
<br />
<br />
<br />
<center>

  <h3>BE ORGANIZED</h3>
  <p><em>We can move mountains!</em></p>

</center>
<br />
<br />
<br />
<center>
<p>Copyright &copy; 2019; All Rights Reserved. Joecleverman</p>
</center>
</body>
</html>