<br />
<br />
<div class="text-center">
    <h3 class="white-text">
    <i class="fas fa-user white-text"></i><font color="dodgerblue"> Log In:</font></h3>
    <hr class="hr-light">
</div>
<center>
<form action="/login" method="POST">
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Password: <input type="password" name="password" placeholder="Password"></p>
  <input type="submit" class="btn btn-indigo" value="Log In">

  <hr class="hr-light">
</form>

</center>
</div>
</body>