<br />
<br />
<center>
<div class="text-center">
    <h3 class="white-text">
    <i class="fas fa-user white-text"></i><font color="dodgerblue"> Sign Up:</font></h3>
    <hr class="hr-light">
</div>
<form action="/signup" method="POST">
<p i class="fas fa-user prefix white-text active">Username: <input type="text" name="username" placeholder="Username"></p>
<p>Email:   <input type="email" name="email" placeholder="Email"></p>
<p>Password: <input type="password" name="password" placeholder="Password"></p>
<input type="submit" class="btn btn-indigo" value="Sign Up">
<hr class="hr-light mb-3 mt-4">
</form>

</center>
                        
