
<center>
<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Email: <input type="email" name="email" placeholder="Email"></p>
  <p>Password: <input type="password" name="password" placeholder="Password"></p>
  <input type="submit" class="btn btn-success" value="Sign Up">
</form>
</center>



<div class="text-center">
                          <h3 class="white-text">
                            <i class="fas fa-user white-text"></i><font color="dodgerblue"> Register:</font></h3>
                          <hr class="hr-light">
                        </div>
                        <!--Body-->
                        <div class="md-form">
                          <i class="fas fa-user prefix white-text active"></i>
                          <input type="text" id="form3" class="white-text form-control">
                          <label for="form3" class="active">Your name</label>
                        </div>
                        <div class="md-form">
                          <i class="fas fa-envelope prefix white-text active"></i>
                          <input type="email" id="form2" class="white-text form-control">
                          <label for="form2" class="active">Your email</label>
                        </div>
                        <div class="md-form">
                          <i class="fas fa-lock prefix white-text active"></i>
                          <input type="password" id="form4" class="white-text form-control">
                          <label for="form4">Your password</label>
                        </div>
                        <div class="text-center mt-4">
                          <button class="btn btn-indigo">Sign up</button>
                          <hr class="hr-light mb-3 mt-4">
                          
                        </div>
